.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #00acac;
    color: #fff;
    font-size: 1.0625em;
}

.page-header-css {
    font-size: 24px;
    margin: 0 0 0px;
    padding: 0;
    border: 0;
    line-height: 32px;
    font-weight: 500;
}

.icon-page {
    background: linear-gradient(45deg, #00acac, #8753de);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 5px 25px rgb(0 0 0 / 30%);
}

.text-page {
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 2px 3px 4px rgb(0 0 0 / 30%);
}

.page-title-css {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:992.5px) {
    .page-title-css {
        display: grid;
        margin-bottom: 10px;
    }
}

.dev-by-hellos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-hellos {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    padding: 10px;
    border-radius: 5px;
}

.panel-hellos:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 66%);
}

.btn-primary-css {
    color: #2d353c;
    border-color: #2d353c;
    -webkit-box-shadow: 0;
    box-shadow: 0;
}

.line-page {
    height: 1.5px;
    margin: 0px 0px 15px 0px;
    background: #444e66;
    box-shadow: 2px 3px 4px rgb(0 0 0 / 52%);
}

.line-page-bottom {
    height: 1.5px;
    margin: 0px 0px 10px 0px;
    background: #b1b3b5;
    box-shadow: 2px 3px 12px 0px rgb(0 0 0 / 52%);
}

.announcement {
    background: #1d2226;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.text-announcement {
    color: #fff;
    margin: 10px 0px 5px 0px;
}

.rowGrid {
    display: grid;
}

/* PICTURE */
.picture-w-550 {
    width: 550px;
}

.no-data {    
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.css-button {
    margin-bottom: 15px;
}

.btn-primary:focus {
    color: #fff;
}